@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Barlow', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}
.flex--center-both {
  justify-content: center;
  align-items: center;
}
.page--center-both {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  margin: auto;
}
.flex-list {
  display: flex;
  flex-flow: row wrap;
}
.flex-list--full-screen {
  justify-content: space-around;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  color: #FFFFFF;
}
.card--wide {
  width: 320px;
  overflow: hidden;
}
@media (min-width: 760px) and (max-width: 1189px) {
  .card--wide:nth-child(21) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .card--wide {
    width: 360px;
    margin-right: 10px;
  }
}
.card--wide img {
  transition: transform .4s ease-in-out;
}
.card--wide:hover img {
  transform: scale(1.05)
}
.card--expandable {
  height: 50px;
  transition: all .3s ease-in-out;
}
.card--expandable .avatar-wrapper {
  transition: all .3s .1s ease-in-out;
  width: 0;
}
.card--expandable .artist-details {
  padding: 14px 20px 10px;
  background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,1) 90%);
}
.card--expandable .artist-details a {
  font-size: 20px;
}
.card--expandable:hover {
  height: 120px;
}
.card--expandable:hover .avatar-wrapper {
  width: 120px;
}
.card--expandable:hover .artist-details {
  background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,1));
}

.card--animated {
  animation-name: fadein;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
}
.card--animated:nth-child(2) {
  animation-delay: .7s
}
.card--animated:nth-child(3) {
  animation-delay: 0.9s
}
.card--animated:nth-child(4) {
  animation-delay: 1.1s
}
.card--animated:nth-child(5) {
  animation-delay: 1.3s
}
.card--animated:nth-child(6) {
  animation-delay: 1.5s
}
.card--animated:nth-child(7) {
  animation-delay: 1.7s
}
.card--animated:nth-child(8) {
  animation-delay: 1.9s
}
.card--animated:nth-child(9) {
  animation-delay: 2.1s
}

.route-link {
  font-family: "Barlow";
  font-size: 36px;
  padding: 40px;
}

.artists-list-container {
  position: relative;
}
.artist-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,1) 60%);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 1024px) {
  .artist-details {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.artist-details--placeholder {
  background-color: #000;
}

.avatar-wrapper {
  width: 50px;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .avatar-wrapper {
    width: 120px;
  }
}
@media (min-width: 1024px) {
  .avatar-wrapper {
    width: 150px;
  }
}
.avatar {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.inline-list {
  list-style-type: none;
  padding-left: 0;
}
.inline-list-item {
  display: inline;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link--green-hover {
  background:
     linear-gradient(
       to bottom, #1db954 0%,
       #1db954 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 0px;
  /* color: #000; */
  text-decoration: none;
  transition: background-size .2s;
}
.link--green-hover:hover {
  background-size: 4px .4em;
}
.link--green-underline {
  color: inherit;
  transition: color .2s ease-in;
  border-bottom: solid 1px #1db954;
}
.link--green-underline:hover {
  color: #1db954;
}

.header {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header--artist-card {
  text-align: right;
}

.header--uptitle {
  margin-top: 4em;
  margin-bottom: 1em;
}

.header--artist-details {
  font-size: 4em;
  line-height: 1em;
  margin-top: 1em;
}
.header--artist-details a {
  color: inherit;
  text-decoration: none;
}

.subheader {
  text-align: left;
  padding-left: 40px;
}

.text--small {
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font-size--36 {
  font-size: 36px;
}

.rotate--90 {
  position: fixed;
  transform-origin: bottom left;
  animation-name: rotation;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: .3s;
  animation-delay: .2s;
  bottom: 30%;
  left: 100px;
}

.album-card {
  width: 160px;
  height: 160px;
  position: relative;
}

.album-cover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: saturate(100%);
  transition: all .6s ease-in-out;
}

.album-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  transition: opacity .2s ease-in-out;
}
.album-details a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-bottom: 1em;
  font-size: 1em;
}
.album-card {
  border: solid 1px #654321;
  transition: border-color .2s ease-in-out;
}
.album-card.loaded {
  border-color: transparent;
}
.album-card .album-details {
  /* color: rgb(101,67,33); */
  color: #000;
  background-color: transparent;
  transition: all .2s ease-in-out;
}
.album-card.loaded .album-details {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  color: #fff;
}
.album-card.loaded .album-cover {
  opacity: 1
}
.album-card:hover .album-details {
  background-color: rgba(33, 33, 33, .83);
  color: #fff;
}
.album-card:hover .album-cover {
  filter: saturate(0)
}
.album-card.loaded:hover .album-details {
  opacity: 1;
}

.artist-summary {
  padding: 50px 60px 60px 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 1024px) {
  .artist-summary {
    width: 480px;
  }
  .column--full-height {
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
  }
}

.flex-can-grow {
  flex-grow: 1;
}

.genres {
  padding-bottom: 0;
  transition: padding .2s ease-in-out;
}
@media (max-height: 595px) and (min-width: 768px) {
  .genres {
    padding-bottom: 55px;
  }
}
.page-details-section:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .artist-releases {
    margin-left: 610px
  }
  .artist-releases .card {
    margin-right: 14px !important;
  }
}

.square--320 {
  height: 320px;
  width: 320px;
}
.margin--bottom-3 {
  margin-bottom: 3em;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}